<!-- 商品表 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.CommodityMapper">
    <!-- 增加商品 -->
    <insert id="insertCommodity" parameterType="com.zhkj.inventory_control_dao.entity.CommodityEntity">
        INSERT INTO inventory_control.commodity(commodityName,commodityIntroduce,supplierId)
        VALUES (#{commodityEntity.commodityName},default,#{commodityEntity.supplierId})
    </insert>
    <!-- 删除商品 -->
    <delete id="delCommodity">
    delete from inventory_control.commodity where id=#{id}
    </delete>
    <!-- 修改商品 -->
    <update id="updateCommodity">
    update inventory_control.commodity set commodityName=#{CommodityEntity.commodityName},commodityIntroduce=#{CommodityEntity.commodityIntroduce},commodityBigPictureUrl=#{CommodityEntity.commodityBigPictureUrl} where id=#{CommodityEntity.id}
    </update>
    <!-- 查询商品 -->
    <select id="getCommodity" resultType="com.zhkj.inventory_control_dao.entity.CommodityEntity">
    select * from inventory_control.commodity
    </select>

    <!-- 根据商品名称查询商品id -->
    <select id="selectCommodityToName" resultType="java.lang.Integer">
        select id from inventory_control.commodity where commodityName=#{commodityName};
    </select>
    <!-- 根据商品id查询商品名称 -->
    <select id="selectCommodityToId" resultType="java.lang.String">
      select commodityName from inventory_control.commodity where id=#{id};
    </select>
    <!--  -->
    <select id="selectCommodityByCommodityId" resultType="com.zhkj.inventory_control_dao.entity.CommodityEntity">
        SELECT * FROM inventory_control.commodity
        WHERE id = #{commodityId}
    </select>
    <!-- 根据商品 id 列表查询商品信息 -->
    <select id="listCommodityByCondition" resultType="com.zhkj.inventory_control_dao.entity.CommodityEntity">
        SELECT * FROM inventory_control.commodity
        <where>
            <if test="_parameter.containsKey('conditionSql')">
                ${conditionSql}
            </if>
        </where>
    </select>
    <!-- 查询最后一个商品 -->
    <select id="selectLastCommodityId" resultType="java.lang.Integer">
        SELECT inventory_control.commodity.id
        FROM inventory_control.commodity
        ORDER BY inventory_control.commodity.id DESC
        LIMIT 0,1
    </select>
    <!-- 根据商品名称查询商品数量 -->
    <select id="selectCommodityByCommodityName" resultType="java.lang.Integer">
        SELECT COUNT(inventory_control.commodity.id)
        FROM inventory_control.commodity
        WHERE inventory_control.commodity.commodityName  = #{commodityName}
    </select>
</mapper>