<!-- 财务收支 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.FinanceMapper">
    <!-- 根据类型查询财务收支情况 -->
    <select id="selctFinance" resultType="com.zhkj.inventory_control_dao.entity.FinanceEntity">
      select * from inventory_control.finance where 1=1
      <if test="financeTypeId!=0">
          and  financeTypeId=#{financeTypeId}
      </if>
    </select>
    <!-- 添加收支 -->
    <insert id="insertFinance">
        insert into inventory_control.finance (financeTypeId, financePrice, financeCreateTime) values (#{FinanceEntity.financeTypeId},#{FinanceEntity.financePrice},#{FinanceEntity.financeCreateTime});
    </insert>
    <!-- 删除收支表中所有数据 -->
    <delete id="delFinanceAll">
      delete  from inventory_control.finance
    </delete>
</mapper>