<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.MessageMapper">

    <!-- 添加消息 -->
    <insert id="addMessageByMessageEntity" parameterType="com.zhkj.inventory_control_dao.entity.MessageEntity">
        INSERT INTO inventory_control.message(messageTitle, messageContent, messageStatus, messageTypeId, messageCreateTime, sendMessageName, messageToken)
        VALUES(#{messageEntity.messageTitle},#{messageEntity.messageContent},#{messageEntity.messageStatus},#{messageEntity.messageTypeId},now(),#{messageEntity.sendMessageName},#{messageEntity.messageToken})
    </insert>
    <!-- 删除一条消息 -->
    <delete id="delMessageById">
      delete from inventory_control.message where id=#{id}
    </delete>
    <!-- 根据条件查询消息 -->
    <select id="findMessageAll" resultType="com.zhkj.inventory_control_dao.entity.MessageEntity">
    select * from inventory_control.message where 1=1

    <if test="messageTitle!=null and messageTitle!='-1'">
      and  messageTitle=#{messageTitle}
    </if>
    <if test="messageCreateTime!=null">
        and messageCreateTime>#{messageCreateTime}
    </if>
    <if test="messageStatus>0">
        and messageStatus=#{messageStatus}
     </if>
     <if test="startNumber>0 and end>0">
        limit ${startNumber},${end}
        </if>
    </select>

    <select id="findMessageById" resultType="com.zhkj.inventory_control_dao.entity.MessageEntity">
      select * from inventory_control.message where id=#{id};
    </select>

    <update id="alterMessageAudit">
        update message set messageStatus=#{messageStatus}  where id=#{messageId};
    </update>
</mapper>