<!-- 商品规格标题 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.SpecificationTopic">
    <!--&lt;!&ndash; 增加商品规格标题 &ndash;&gt;-->
    <!--<insert id="">-->

    <!--</insert>-->
    <!--&lt;!&ndash; 删除商品规格标题 &ndash;&gt;-->
    <!--<delete id="">-->

    <!--</delete>-->
    <!--&lt;!&ndash; 修改商品规格标题 &ndash;&gt;-->
    <!--<update id="">-->

    <!--</update>-->
    <!--&lt;!&ndash; 查询商品规格标题 &ndash;&gt;-->
    <!--<select id="" resultType="com.zhkj.inventory_control_dao.entity.SpecificationtopicEntity">-->

    <!--</select>-->
</mapper>