<!-- 商品规格标题 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.SpecificationTopicMapper">
    <!-- 增加商品规格标题 -->
    <insert id="insertTopic">
      insert into inventory_control.specificationtopic (topicName) values (#{SpecificationtopicEntity.topicName});
    </insert>
    <!-- 删除商品规格标题 -->
    <delete id="deleteTopic">
    delete from inventory_control.specificationtopic where id=#{id}
    </delete>
    <!-- 修改商品规格标题 -->
    <update id="updateTopic">
    update inventory_control.specificationtopic set topicName=#{SpecificationtopicEntity.topicName} where id=#{SpecificationtopicEntity.id}
    </update>
    <!-- 查询商品规格标题 -->
    <select id="getTopic" resultType="com.zhkj.inventory_control_dao.entity.SpecificationtopicEntity">
    select * from inventory_control.specificationtopic;
    </select>
</mapper>