<!-- 统计表 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.StatisticsMapper">
    <!-- 根据状态di查询统计表集合 -->
    <select id="selectStatistics" resultType="com.zhkj.inventory_control_dao.entity.StatisticsEntity">
        select * from inventory_control.statistics where 1=1
         <if test="statisticsTypeId>0">
             and statisticsTypeId=#{statisticsTypeId}
         </if>
    </select>
    <!-- 添加统计表 -->
    <insert id="insertStatistics">
        insert into inventory_control.statistics (statisticsCreateTime, statisticsTypeId, statisticsNumber, commodityInventoryId)  values (#{StatisticsEntity.statisticsCreateTime},#{StatisticsEntity.statisticsTypeId},#{StatisticsEntity.statisticsNumber},#{StatisticsEntity.commodityId});
    </insert>
    <!-- 删除统计表中所有的数据 -->
    <delete id="delStatistics">

    </delete>
</mapper>