<!-- 供应商增删改查 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.SupplierMapper">
    <select id="listSupplierLimit" resultType="com.zhkj.inventory_control_dao.entity.SupplierEntity">
        SELECT * FROM inventory_control.supplier
        LIMIT #{startNumber},#{lengthNumber}
    </select>
    <select id="listSupplierAll" resultType="com.zhkj.inventory_control_dao.entity.SupplierEntity">
        SELECT * FROM inventory_control.supplier
    </select>
    <select id="countSupplier" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM inventory_control.supplier
    </select>
    <select id="selectSupplierToSupplierName" resultType="com.zhkj.inventory_control_dao.entity.SupplierEntity">
        SELECT * FROM inventory_control.supplier
        WHERE inventory_control.supplier.supplierName LIKE ${name}
    </select>
    <!-- 根据供应商id查询供应商信息 -->
    <select id="selectSupplierBySupplierId" parameterType="java.lang.Integer" resultType="com.zhkj.inventory_control_dao.entity.SupplierEntity">
        SELECT * FROM inventory_control.supplier
        WHERE supplier.id = #{supplierId}
    </select>
    <insert id="insertSupplier" >
       insert into inventory_control.supplier(supplierName, supplierPhone) values (#{supplierEntity.supplierName},#{supplierEntity.supplierPhone});
    </insert>

    <update id="updateSupplier" >
       UPDATE inventory_control.supplier
       SET supplier.supplierName = #{supplierEntity.supplierName},supplier.supplierPhone = #{supplierEntity.supplierPhone},supplier.supplierRemark = #{supplierEntity.supplierRemark}
       WHERE supplier.id = #{supplierEntity.id}
    </update>
    <delete id="deleteSupplierBySupplierId" parameterType="java.lang.Integer">
        DELETE FROM inventory_control.supplier
        WHERE supplier.id = #{supplierId}
    </delete>
</mapper>