
<!-- 用户表mapper -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.inventory_control_dao.mapper.WarningCommodityMapper">
    <select id="findWarningCommodityByCondition" resultType="com.zhkj.inventory_control_dao.entity.WarningcommodityEntity">
    select * from inventory_control.warningcommodity where 1=1
      <if test="commodityName!=null and commodityName!=''">
        and commodityName = ${commodityName}
      </if>
      <if test="commodityState!=-1 and commodityState>0">
        and commodityState = ${commodityState}
      </if>
      <if test="createTime!=null and createTime!=''">
        and createTime > ${createTime}
      </if>
    </select>
</mapper>